/* ================= HERO SECTION ================= */
.hero-section-style {
  position: relative;
  background-color: #C7C2BA;
  background-image: url("../images/kuwait-case-study-img-iphtech.png");
  background-size: cover;
  background-position: center;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-style .custome-section-row {
  width: 100%;
  max-width: 1440px;
 
}

.hero-section-style h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.hero-section-style h4 {
  color: #7DD6F8;
  font-size: 34px;
}

.hero-section-style p {
  color: rgb(249, 246, 246);
  font-size: 18px;
  line-height: 1.6;
}

.tag-line-btn-style{
  background-color: #FFFF !important;
  border-bottom: 2px solid #7DD6F8 !important; 
}

/* ================= BUTTON ================= */
.custom-btn-style {
  background-color: #7DD6F8;
  color: #0557A0;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.custom-btn-style:hover {
  background-color: #5bc3ec;
  color: #0557A0;
}

/* ================= CONTENT SECTIONS ================= */
.content-sections {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-sections .custome-section-row{

  width: 100%;
  max-width: 1440px;
  padding: 50px 20px;

}
.content-sections
.Our-Solutions-style{
  width: 100%;
  max-width: 1440px;
  padding: 0px !important;
}
.content-sections h2 {
  font-size: 30px;
  color: #0557A0;
  font-weight: 700;
}

.content-sections p {
  font-size: 16px;
}

.content-sections ul li {
  line-height: 1.5em;
  font-size: 16px;
  margin-bottom: 16px;
}

.custom-row-style {
  margin: 50px 40px !important;
}

.custom-row-style-1 {
  margin: 50px 40px !important;
}

.custom-row-style .col-12 {
  padding: 10px !important;
}

.typography-box {
  min-height: 200px;
}

.testimoinal-section {
  position: relative;
  display: flex;
  align-items: flex-end;   
  min-height: 220px; 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


.testimonial-section-col {
  max-width: 80%;
  position: relative;
  text-align: center;
}

.testimoinal-section .row {
  width: 100%;
  margin: 0;
  padding: 0px !important;
}
.testimoinal-section-2 {
  background-color: #ffff;
}


.testimoinal-section-2 .card{
  background-color:#DEF1FF !important ;
}

.content-sections
.techstack-row-style-sd5re
{
  margin-top: 5%;
  margin-bottom: 4%;
  width: 100%;
  max-width: 1440px;
  padding: 30px ;
  padding-bottom:50px !important ;
}
.techstack-row-style-sd5re {
  background: 
    linear-gradient(to top, rgba(3, 83, 148, 0.8) 100%, transparent 100%),
    url("../images/tech-stack-bg-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.testimonial-row-style {
  border-radius: 12px;
  overflow: hidden;
  max-width: 1440px;
  margin: 60px 50px;
}

.last-row-style{
 
  box-shadow: -29px 0px 12px rgba(0, 0, 0, 0.01), -16px 0px 10px rgba(0, 0, 0, 0.03), -7px 0px 7px rgba(0, 0, 0, 0.05), -2px 0px 4px rgba(0, 0, 0, 0.05);
 

}
@media(max-width:980px) {
  .typography-box {
    min-height: 150px;
  }
  .testimonial-section-col {
    max-width: 90%;
  }
  .testimoinal-section-2 {
    padding: 30px 20px;
  }
  .content-sections
.techstack-row-style-sd5re
{
  padding: 20px ;
  padding-bottom:40px !important ;
}
.hero-section-style {
  background: 
    linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
    url("../images/kuwait-case-study-img-iphtech.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

}

@media (max-width: 768px) {
  .hero-text {
    text-align: center !important;
  }
  .hero-section-style .custome-section-row {
    padding: 0px 0px;
  }
  .testimonial-section-col {
    max-width: 100%;
  }

  .content-sections .custome-section-row {
    padding: 10px 10px;
  }

  .hero-section-style {
    min-height: 500px;
    text-align: center;
    /* better readability on mobile */
  }

  .hero-section-style h2 {
    font-size: 32px;
  }

  .hero-section-style h4 {
    font-size: 20px;
  }

  .hero-section-style p {
    font-size: 14px;
  }

  .content-sections h2 {
    font-size: 24px;
  }

  .content-sections p {
    font-size: 13px;
  }

  .content-sections ul li {
    line-height: 1.3em;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .custom-btn-style {
    padding: 7px 14px;
    font-size: 13px;
  }

  .custom-row-style {
    margin: 30px 20px !important;
  }

  .custom-row-style-1 {
    margin: 30px 20px !important;
  }

  

  .typography-box {
    min-height: 120px;
  }
  .testimoinal-section-2 {
    padding: 30px 10px;
  }
  .content-sections
  .techstack-row-style-sd5re
{
  padding: 10px ;
}
}

