/* ================= HERO SECTION ================= */
.hero-section-style {
  position: relative;
  background-color: #C7C2BA;
  background-image: url("../images/kuwait-case-study-img-iphtech.png");
  background-size: cover;
  background-position: center;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-style .custome-section-row {
  width: 100%;
  max-width: 1440px;

}

.hero-section-style h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.hero-section-style h4 {
  color: #7DD6F8;
  font-size: 34px;
}

.hero-section-style p {
  color: rgb(249, 246, 246);
  font-size: 18px;
  line-height: 1.6;
}



.tag-line-btn-style {
  background-color: #FFFF !important;
  border-bottom: 2px solid #7DD6F8 !important;
}

/* ================= BUTTON ================= */
.custom-btn-style {
  background-color: #7DD6F8;
  color: #0557A0;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.custom-btn-style:hover {
  background-color: #5bc3ec;
  color: #0557A0;
}

/* ================= CONTENT SECTIONS ================= */
.content-sections {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-sections .custome-section-row {

  width: 100%;
  max-width: 1440px;
  padding: 50px 40px;

}

.content-sections h2 {
  font-size: 30px;
  color: #0557A0;
  font-weight: 600;
}
.content-sections h4{
  font-size: 24px;
  color: #0E0A39;
  font-weight: 600;

}

.content-sections p {
  font-size: 16px;
  font-weight: 300;
}

.content-sections ul li {
  line-height: 1.5em;
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: 300;
}

.content-sections b {
  font-size: 20px !important;
  line-height: 20px !important;
  font-weight: 500;
}

.custom-row-style {
  margin: 50px 40px !important;
}

.custom-row-style .col-12 {
  padding: 10px !important;
}

.typography-box {
  min-height: 200px;
}

.content-sections .techstack-row-style-sd5re {
  margin-top: 3.5%;
  margin-bottom: 3.5%;
  width: 100%;
  max-width: 1440px;
  padding: 30px;
  padding-bottom: 50px !important;
}

.techstack-row-style-sd5re {
  background:
    linear-gradient(to top, rgba(3, 83, 148, 0.8) 100%, transparent 100%),
    url("../images/tech-stack-bg-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.last-row-style {
  box-shadow: -29px 0px 12px rgba(0, 0, 0, 0.01), -16px 0px 10px rgba(0, 0, 0, 0.03), -7px 0px 7px rgba(0, 0, 0, 0.05), -2px 0px 4px rgba(0, 0, 0, 0.05);
}

@media(max-width:980px) {
  .typography-box {
    min-height: 150px;
  }

  .content-sections .techstack-row-style-sd5re {
    padding: 20px;
    padding-bottom: 40px !important;
  }

  .hero-section-style {
    background:
      linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent),
      url("../images/kuwait-case-study-img-iphtech.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .content-sections .custome-section-row {
    padding: 10px 10px;
    margin: 0 !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .hr-section-style{
    display: none;
  }

}

@media (max-width: 768px) {

  .content-sections b {
    font-size: 16px !important;
    line-height: 20px !important;
  }

  

  .content-sections .custome-section-row {
    padding: 10px 10px;
    margin: 0 !important;
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }

  .hero-section-style {
    min-height: 500px;

  }

  .hero-section-style h2 {
    font-size: 32px;
  }

  .hero-section-style h4 {
    font-size: 18px;
  }

  .hero-section-style p {
    font-size: 14px;
  }

  .content-sections h2 {
    font-size: 20px;
  }

  .content-sections p {
    font-size: 13px;
  }

  .content-sections ul li {
    line-height: 1.3em;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .custom-btn-style {
    padding: 7px 14px;
    font-size: 13px;
  }

  .custom-row-style {
    margin: 0px !important;
  }


  .typography-box {
    min-height: 120px;
  }


  .content-sections .techstack-row-style-sd5re {
    padding: 10px;
  }

  .custom-row-style .the-result-clm-1 {
    margin: 25px 10px !important;
  }
  
}
.custom-row-style .the-result-clm-1 {
  margin: 30px !important;

}