/* ================= HERO SECTION ================= */
.hero-section-style {
  position: relative;
  background-color: #013066;
  background-image: url("../images/iphtech-bg-img-01.png");
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-style .custome-section-row {
  width: 100%;
  max-width: 100%;
  padding: 40px;

}

.hero-section-style h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.hero-section-style h4 {
  color: #83d050;
  font-size: 34px;

}

.hero-section-style p {
  color: rgb(249, 246, 246);
  font-size: 16px;
  line-height: 1.6;
}

/* ================= BUTTON ================= */
.custom-btn-style {
  background-color: #8EDD58;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.custom-btn-style:hover {
  background-color: #fff !important;
  color: #000;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
}

/* ================= CONTENT SECTIONS ================= */
.content-sections {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-sections .custome-section-row {
  margin: 3.5% 30px 3.5% 30px;
  width: 100%;
  max-width: 1440px;
  padding: 1%;

}

.content-sections .Our-Solutions-style {
  width: 100%;
  max-width: 1440px;
  padding: 0px !important;
}

.content-sections h2 {
  font-size: 26px;
  color: #0E0A39;
  font-weight: 600;
}

.content-sections h4 {
  font-size: 20px;
  color: #0E0A39;
  font-weight: 600;

}

.content-sections p {
  font-size: 16px;
  font-weight: 200;
}

.content-sections ul li {
  line-height: 1.5em;
  font-size: 17px;
  margin-bottom: 17px;
  font-weight: 200;
}

.content-sections b {
  font-size: 20px !important;
  line-height: 20px !important;
  font-weight: 400;
}

.our-solutions-section {
  background-image: url("../images/Frame 401.png");
  background-color: #064157;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-row-style {
  margin: 50px 40px !important;
}

.custom-row-style-1 {
  margin: 50px 40px !important;
}

.custom-row-style .col-12 {
  padding: 10px !important;
}

.typography-box {
  min-height: 200px;
}

.content-sections .techstack-row-style-sd5re {
  margin-top: 5%;
  margin-bottom: 4%;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
  padding-bottom: 50px !important;
}

.techstack-row-style-sd5re {
  background-color: #0074BD;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Tech-Stack-box {
  flex: 1 1 auto;
}
.left-inverted {
  top: -37px;
  left: 3px;
}

.right-inverted {
  bottom: -22px;
  right: 3px;
}

.left-inverted img,
.right-inverted img {
  width: 90%;
  height: auto;
}
.responsive-star {
  width: 30%;
  max-width: 173px;
  height: auto;
}


@media(max-width:980px) {
  .content-sections .custome-section-row {
    margin: 3.5% 30px 3.5% 30px;
    padding: 0%;
  
  }

  .typography-box {
    min-height: 150px;
  }

  .testimonial-section-col {
    max-width: 90%;
  }

  .testimoinal-section-2 {
    padding: 30px 20px;
  }

  .content-sections .techstack-row-style-sd5re {
    padding: 10px;
    padding-bottom: 40px !important;
  }
  .left-inverted img,
  .right-inverted img {
    width: 70%;
      height: auto;
  }
  .left-inverted {
    top: -28px;
    left: -6px;
  }
  .right-inverted {
    bottom: -18px;
    right: -6px;
  }
}

@media (max-width: 767px) {

  .Tech-Stack-box img {
    width: 50px !important;
    height: 50px;
  }

  .content-sections .techstack-row-style-sd5re {
    padding: 0px !important;
    padding-bottom: 20px !important;
  }

  .hero-section-style .custome-section-row {
    padding: 40px 20px;
  }

  .Tech-Stack-box {
    flex: 1 1 100%;
    /* stack on mobile */
  }

  .testimonial-section-col {
    max-width: 100%;
  }

  .content-sections .custome-section-row {
    margin: 3.5% 0px 3.5% 0px !important;
    padding:10px;
  
  }

  .hero-section-style {
    min-height: 500px;
    text-align: center;
    /* better readability on mobile */
  }

  .hero-section-style h2 {
    font-size: 30px;
  }

  .hero-section-style h4 {
    font-size: 20px;
  }

  .hero-section-style p {
    font-size: 14px;
  }

  .content-sections h2 {
    font-size: 20px;
  }

  .content-sections h4 {
    font-size: 18px;
  }

  .content-sections p {
    font-size: 13px;
  }

  .content-sections ul li {
    line-height: 1.3em;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .content-sections b {
    font-size: 15px !important;
    line-height: 20px !important;
  }

  .custom-btn-style {
    padding: 7px 14px;
    font-size: 13px;
  }

  .custom-row-style {
    margin: 30px 20px !important;
  }

  .custom-row-style-1 {
    margin: 30px 20px !important;
  }



  .typography-box {
    min-height: 120px;
  }

  .testimoinal-section-2 {
    padding: 30px 10px;
  }

  .content-sections .techstack-row-style-sd5re {
    padding: 10px;
  }
  .left-inverted img,
  .right-inverted img {
    width: 50% !important;
    height: auto;
  }
  .left-inverted {
    top: -18px;
    left: -14px;
  }
  
  .right-inverted {
    bottom: -12px;
    right: -16px;
  }
  
}


