/* ================= HERO SECTION ================= */
.hero-section-style {
  position: relative;
  background-color: #C7C2BA;
  background-image: url("../images/iphtech-img-ach98c.png");
  background-size: cover;
  background-position: center;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-style .custome-section-row {
  width: 100%;
  max-width: 1440px;
  padding: 20px 20px;
  gap: 20px;

}

.hero-section-style h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 700;
}

.hero-section-style h4 {
  color: #BC0941;
  font-size: 24px;
  font-weight: bold;
}

.hero-section-style p {
  color: rgb(249, 246, 246);
  font-size: 16px;
  line-height: 1.6;
}

/* ================= BUTTON ================= */
.custom-btn-style {
  background-color: #BC0941;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.custom-btn-style:hover {
  background-color: #81032b;
  color: #fff;
}

/* ================= CONTENT SECTIONS ================= */
.content-sections {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-sections .custome-section-row{

  width: 100%;
  max-width: 1440px;
  padding: 50px 20px;

}

.content-sections h2 {
  font-size: 30px;
  color: #BC0941;
  font-weight: 700;
}

.content-sections p {
  font-size: 16px;
}

.content-sections ul li {
  line-height: 1.5em;
  font-size: 16px;
  margin-bottom: 16px;
}

.custom-row-style {
  margin: 50px 40px !important;
}

.custom-row-style-1 {
  margin: 50px 40px !important;
}

.custom-row-style .col-12 {
  padding: 10px !important;
}

.typography-box {
  min-height: 200px;
}

.testimoinal-section {
  position: relative;
  display: flex;
  align-items: flex-end;   
  min-height: 320px; 
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.testimoinal-section::before {
  content: '';
  position: absolute;
  inset: 0; 
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 0; 
}
.testimonial-section-col {
  max-width: 80%;
  position: relative;
  z-index: 1; 
  color: #fff;
  text-align: center;
}

.testimoinal-section .row {
  width: 100%;
  margin: 0;
  padding: 0px !important;
}
.testimoinal-section-2 {
  background-color: #940D4A;
}

.testimoinal-section-2 .testimonial-card {
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  height: 100%; 
}
.content-sections
.techstack-row-style-sd5re
{
  margin-top: 5%;
  margin-bottom: 4%;
  width: 100%;
  max-width: 1440px;
  padding: 30px ;
  padding-bottom:50px !important ;
  

}
@media(max-width:980px) {
  .typography-box {
    min-height: 150px;
  }
  .testimonial-section-col {
    max-width: 90%;
  }
  .testimoinal-section-2 {
    padding: 30px 20px;
  }
  .content-sections
.techstack-row-style-sd5re
{
  padding: 20px ;
  padding-bottom:40px !important ;
}
}

@media (max-width: 768px) {
  .hero-section-style .custome-section-row {
    padding: 0px 0px;
  }
  .testimonial-section-col {
    max-width: 100%;
  }

  .content-sections .custome-section-row {
    padding: 0px 0px;
  }

  .hero-section-style {
    min-height: 500px;
    text-align: center;
    /* better readability on mobile */
  }

  .hero-section-style h2 {
    font-size: 32px;
  }

  .hero-section-style h4 {
    font-size: 20px;
  }

  .hero-section-style p {
    font-size: 14px;
  }

  .content-sections h2 {
    font-size: 24px;
  }

  .content-sections p {
    font-size: 13px;
  }

  .content-sections ul li {
    line-height: 1.3em;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .custom-btn-style {
    padding: 7px 14px;
    font-size: 13px;
  }

  .custom-row-style {
    margin: 30px 20px !important;
  }

  .custom-row-style-1 {
    margin: 30px 20px !important;
  }

  

  .typography-box {
    min-height: 120px;
  }
  .testimoinal-section-2 {
    padding: 30px 10px;
  }
  .content-sections
  .techstack-row-style-sd5re
{
  padding: 10px ;
}
}

